<h1>Student Form</h1>
<%=form_tag students_path do %>
First Name: <input name="student[:first_name]"><br>
Last Name: <input name="student[:last_name]"><br>
<input type="submit", value="submit">
<%end%>


